flask==2.3.3
gunicorn==20.1.0

pymysql==1.1.0
pandas==2.2.2
tqdm==4.66.4
python-dotenv==1.0.1

langchain==0.3.27
langchain-chroma==0.2.6

sentence-transformers>=3.0.0
transformers>=4.41.0
torch>=2.2.0

chromadb==1.1.0

google-generativeai
langchain-google-genai
langchain-huggingface
huggingface_hub

line-bot-sdk==3.9.0
